---
title: Christian Reuter
---

%h1
  Hi. I’m Christian Reuter, a product designer at
  = link_to "thoughtbot", "http://thoughtbot.com/"
  that’s living in Raleigh, NC. I like thinking about design as a process and
  front-end modularity.

%h2 Recent Articles
%ul
  %li
    %h3
      = link_to "Writing Effective Problem Statements", "http://robots.thoughtbot.com/writing-effective-problem-statements"
    %p
      How can we teach product designers to write more effective problem
      statements?
  %li
    %h3
      = link_to "Ember for Designers: Components", "http://robots.thoughtbot.com/ember-for-designers-components"
    %p
      Part of our ongoing "Ember for Designers" series. Learn how to get
      started with Ember by leveraging components.
  %li
    %h3
      = link_to "Ember for Designers: Alternate States", "http://robots.thoughtbot.com/ember-for-designers-alternate-states"
    %p
      Learn how to design Ember apps for loading, error, and empty states.
  %li
    %h3
      = link_to "Expanding the Raleigh Office", "http://robots.thoughtbot.com/expanding-the-raleigh-office"
    %p
      We're hiring a designer and a developer in Raleigh. Come join our team.
  %li
    %h3
      = link_to "Sass's @content Directive Use Cases", "http://robots.thoughtbot.com/sasss-content-directive"
    %p
      Sass 3.2 added the @content directive, which allows us to pass a content
      block into a mixin.

%footer
  %p
    Feel free to send me an
    = link_to "email", "mailto:hello@christianreuter.io"
    or tweet at me on
    = link_to "twitter", "http://twitter.com/jchreu"
    \.
